* {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid red
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line height: 1.5;
    font-size color: #4f4f4f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
}

section {
    padding: 4% 0;
    width: 50%;
}